<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Select City</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card button>
    <div class="fluid-container">
      <div class="wrapper-info">
        <ion-label class="country">Malaysia</ion-label>
        <ion-label class="temperature">29° C</ion-label>
        <ion-label class="weather-state">Clouds</ion-label>
      </div>
      <div class="wrapper-icon">
        <img class="weather-state" src="assets/icon/cloudy.svg" alt="">
      </div>
    </div>
  </ion-card>
</ion-content>