:host {
  --font-color: rgb(255, 255, 255);
  --icon-color: rgb(255, 255, 255);
}

ion-content {
  --overflow: hidden;

  .container-fluid {
    display: flex;
    margin: 5%;

    &.country {
      .wrapper-arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;

        ion-button {
          --background: transparent;
          --background-activated: transparent;
          --background-activated-opacity: 1;
          --background-focused: rgb(200, 200, 200);
          --background-focused-opacity: 0.1;
          --background-hover: rgb(200, 200, 200);
          --background-hover-opacity: 0.1;
          --padding-start: 0.5em;
          --padding-end: 0.5em;
          --border-width: 1px;
          --border-radius: 100%;
          --border-style: solid;
          --border-color: transparent;
          width: 15vw;
          height: 15vw;
          margin: 0;

          svg.arrow {
            width: 10vw;
            height: 10vw;
            margin: auto;

            & > path {
              fill: var(--icon-color);
            }
          }
        }
      }

      .wrapper-country {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.5em;

        .title {
          color: var(--font-color);
          font-family: "Nunito Sans";
          font-size: 6vw;
          font-style: normal;
          font-weight: normal;
          letter-spacing: 1px;
        }

        .last-updated {
          color: var(--font-color);
          font-family: "Nunito Sans";
          font-size: 4.5vw;
          font-style: normal;
          font-weight: normal;
          line-height: 17px;
          opacity: 0.8;
        }
      }
    }

    &.temperature {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .wrapper-temperature {
        width: 50vw;
        padding: 0 1em;

        .celcius {
          color: var(--font-color);
          font-family: "Nunito Sans";
          font-size: 14vw;
          font-style: normal;
          font-weight: normal;
          white-space: nowrap;
        }

        .celcius-details {
          color: var(--font-color);
          font-family: "Nunito Sans";
          font-size: 5vw;
          font-style: normal;
          font-weight: normal;
          white-space: nowrap;
        }
      }

      .wrapper-cloud {
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 50vw;

        img {
          width: 20vw;
          height: 20vw;
        }
      }
    }
  }

  .slider-wrapper {
    position: absolute;
    bottom: 5vh;
    width: 100%;

    ion-slides {
      width: 100%;
      margin: auto;
      padding: 2% 5%;

      ion-slide {
        margin: auto;
        padding: 8px;

        ion-thumbnail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 15vw;
          height: 20vw;

          app-image-shell {
            background: transparent;
          }

          ion-label {
            color: var(--font-color);
            font-family: "Nunito";
            font-size: 4vw;
            font-style: normal;
            font-weight: 700;
            white-space: nowrap;
            overflow-wrap: normal;
          }
        }
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;

      ion-button {
        --background: transparent;
        --background-activated: transparent;
        --background-activated-opacity: 1;
        --background-focused: rgb(200, 200, 200);
        --background-focused-opacity: 0.1;
        --background-hover: rgb(200, 200, 200);
        --background-hover-opacity: 0.1;
        --padding-start: 0.5em;
        --padding-end: 0.5em;
        --border-width: 1px;
        --border-radius: 100%;
        --border-style: solid;
        --border-color: transparent;
        width: 15vw;
        height: 15vw;
        margin: 0.7em;

        svg.factory {
          width: 10vw;
          height: 10vw;
          margin: auto;

          & > path {
            fill: var(--icon-color);
          }
        }

        svg.settings {
          width: 10vw;
          height: 10vw;
          margin: auto;

          & > path {
            fill: var(--icon-color);
          }
        }
      }
    }
  }
}
