:host {
  --font-color: rgb(255, 255, 255);
  --icon-color: rgb(255, 255, 255);
}

ion-content {
  --overflow: hidden;

  .container-fluid {
    display: flex;
    margin: 5%;

    &.country {
      .wrapper-arrow {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0.4em;

        svg.arrow {
          width: 10vw;
          height: 10vw;

          & > path {
            fill: var(--icon-color);
          }
        }
      }

      .wrapper-country {
        padding-left: 0.5em;

        .title {
          font-family: "Nunito";
          font-style: normal;
          font-weight: normal;
          font-size: 6vw;
          letter-spacing: 1px;
          color: var(--font-color);
        }

        .last-updated {
          font-family: "Nunito";
          font-style: normal;
          font-weight: normal;
          font-size: 4.5vw;
          line-height: 17px;
          color: var(--font-color);
          opacity: 0.8;
        }
      }
    }

    &.temperature {
      display: flex;
      justify-content: center;
      flex-direction: row;

      .wrapper-temperature {
        padding: 0 1em;
        width: 50vw;

        .celcius {
          font-family: "Nunito";
          font-style: normal;
          font-weight: normal;
          font-size: 14vw;
          color: var(--font-color);
          white-space: nowrap;
        }

        .celcius-details {
          font-family: "Nunito";
          font-style: normal;
          font-weight: normal;
          font-size: 4.5vw;
          color: var(--font-color);
          white-space: nowrap;
        }
      }

      .wrapper-cloud {
        width: 50vw;
        justify-content: center;
        display: flex;
        justify-items: center;

        img {
          width: 20vw;
          height: 20vw;
        }
      }
    }
  }

  .slider-wrapper {
    position: absolute;
    bottom: 15vh;
    width: 100%;

    ion-slides {
      width: 100%;
      height: 100%;
      padding: 5%;
      margin: auto;

      ion-slide {
        padding: 8px;

        ion-thumbnail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 15vw;
          height: 15vh;

          app-image-shell {
            background: transparent;
          }

          ion-label {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 4vw;
            color: var(--font-color);
            overflow-wrap: normal;
          }
        }
      }
    }
  }
}
