:host {
  --font-color: rgb(255, 255, 255);
  --icon-color: rgb(255, 255, 255);
}

ion-content {
  --overflow: hidden;

  .container-fluid {
    display: flex;
    margin: 5%;

    &.country {
      .wrapper-arrow {
        display: flex;
        justify-content: center;
        flex-direction: column;

        ion-button {
          --background: transparent;
          --background-activated: transparent;
          --background-activated-opacity: 1;
          --background-focused: rgb(200, 200, 200);
          --background-focused-opacity: 0.1;
          --background-hover: rgb(200, 200, 200);
          --background-hover-opacity: 0.1;
          --padding-start: 0.5em;
          --padding-end: 0.5em;
          --border-width: 1px;
          --border-radius: 100%;
          --border-style: solid;
          --border-color: transparent;
          margin: 0;
          width: 15vw;
          height: 15vw;

          svg.arrow {
            width: 10vw;
            height: 10vw;
            margin: auto;

            & > path {
              fill: var(--icon-color);
            }
          }
        }
      }

      .wrapper-country {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 0.5em;

        .title {
          font-family: "Nunito Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 6vw;
          letter-spacing: 1px;
          color: var(--font-color);
        }

        .last-updated {
          font-family: "Nunito Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 4.5vw;
          line-height: 17px;
          color: var(--font-color);
          opacity: 0.8;
        }
      }
    }

    &.temperature {
      display: flex;
      justify-content: center;
      flex-direction: row;

      .wrapper-temperature {
        padding: 0 1em;
        width: 50vw;

        .celcius {
          font-family: "Nunito Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 14vw;
          color: var(--font-color);
          white-space: nowrap;
        }

        .celcius-details {
          font-family: "Nunito Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 5vw;
          color: var(--font-color);
          white-space: nowrap;
        }
      }

      .wrapper-cloud {
        width: 50vw;
        justify-content: center;
        display: flex;
        justify-items: center;

        img {
          width: 20vw;
          height: 20vw;
        }
      }
    }
  }

  .slider-wrapper {
    position: absolute;
    width: 100%;
    bottom: 5vh;

    ion-slides {
      width: 100%;
      padding: 2% 5%;
      margin: auto;

      ion-slide {
        padding: 8px;
        margin: auto;

        ion-thumbnail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 15vw;
          height: 20vw;

          app-image-shell {
            background: transparent;
          }

          ion-label {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 4vw;
            color: var(--font-color);
            overflow-wrap: normal;
            white-space: nowrap;
          }
        }
      }
    }

    .navigation {
      display: flex;
      justify-content: center;
      flex-direction: row;

      ion-button {
        --background: transparent;
        --background-activated: transparent;
        --background-activated-opacity: 1;
        --background-focused: rgb(200, 200, 200);
        --background-focused-opacity: 0.1;
        --background-hover: rgb(200, 200, 200);
        --background-hover-opacity: 0.1;
        --padding-start: 0.5em;
        --padding-end: 0.5em;
        --border-width: 1px;
        --border-radius: 100%;
        --border-style: solid;
        --border-color: transparent;
        margin: 0.7em;
        width: 15vw;
        height: 15vw;

        svg.factory {
          width: 10vw;
          height: 10vw;
          margin: auto;

          & > path {
            fill: var(--icon-color);
          }
        }

        svg.settings {
          width: 10vw;
          height: 10vw;
          margin: auto;

          & > path {
            fill: var(--icon-color);
          }
        }
      }
    }
  }
}
